html,body {
    height:100%;
    width:100%;
    font-family: sans-serif;
    color:#fff;
}

#home {
    background-image: url("../images/bg.jpg") ;
    display: table;
    height:100%;
    width:100%;
    background-size: cover;


}
.landing-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
h1 {
    font-family: 'Bangers', cursive;
    font-size: 700%;
    line-height: 1.2em;
    color: black;

}
h2 {
    font-family: 'Bangers', cursive;
    font-size: 280%;
    font-weight: 200;
    line-height: 1.2;
    color: black;

}
h5 {
    font-family: 'Bangers', cursive;
    font-size: 180%;
    font-weight: 90;
    line-height: 1.2;
    color: black;

}
#name {
    color:#d51b68;
    
}
.btn-default {
    background-color: #fff;
    color: #36342f;
    font-size:160%;
    font-weight: 100;

}
.btn-default:hover {
    color:#FFF;
    background-color: #36342f;
}
/* ******************** portfolio *************************** */
p {
    color:black;
    font-family: 'Shojumaru', cursive;
}
.card {
    margin-top:20px; 
    border-radius: 10px;

}
